*{
	margin:0;padding: 0px;
}
a{
	text-decoration: none;
}
h1{	
	font-size: 50px;
	padding: 10px;
}
p{
	font-size: 14px;
	text-align: center;
	margin: 30px auto;
}
.header_warp,
.footer_warp{
	width:1200px;
	margin:0 auto;
}

.warp{
	width:1200px;
	margin:0 auto;
}
.header{
	width: 100%;
	position:fixed;
	text-align: center;
	background: rgba(0,0,0,.7); 
	height: 50px;
	z-index: 3;
}


.logo{
	float: left;
	background:url("../img/logo.png") no-repeat left center;
	background-size: 40px 40px;
	color: #fff;
	line-height: 50px;
	font-size: 20px;
	text-indent: 20px;
	width: 200px;
}

.header_nav{
	float: right;position: relative;
}

.nav_item{
	color: #fff;
	font-size: 20px;
	line-height: 50px;
	padding: 5px 15px;
	
}

.nav_item_last{
	background: #f00;
}

.header_nav-item_active{
	color: #f01400;
}

.nav_item_last{
	color: #fff;
}

.header_nav-tip{
	width: 110px;
	border-top: 5px solid red;
	margin-top: -8px;
	position: absolute;
	
}
.container{
	
	width: 100%;
	margin: 0 auto;
}

.sr_container{
	
	width: 100%;
	margin:0 auto;

}

.sr{
	height: 640px;
	margin:0 auto;
}

.sr-1{
	text-align: center;
	background: url(../img/sc1.jpg);
	background-size: cover;
	
}

.sr_container-1{
	color:#fff;
	padding-top: 20%;
}

.sr-2{
	
		position: relative;		
				
}


.sr-2 .bat{ 
	position: absolute;
	bottom: 0;left:20%;
	width: 750px;
	height: 361px;
    background: url(../img/sc2.png) no-repeat center bottom;
}
.sr-2_rocket{
	position: absolute;
	bottom: 30%;left: 50%;
	width: 266px;
	height: 205px;
	background:url(../img/sc2-2.png) no-repeat center ;
}
.sr-2_people{
	position: absolute;
	bottom: 0;left:42%;
	width: 275px;
	height: 380px;
    background:url(../img/sc2-1.png) no-repeat center;
}




.sr_container-2{
	text-align: center;
	color:#000;
}
.border_b2{
	border-bottom: 5px solid red;
	width:50px;
	margin-left: 48%;margin-top: 10px;
}

.sr-3{
	position: relative;
	background-size: 500px 640px;
	background-color:rgba(0,0,0,.8);
}
.sr_container-3{
	padding-top: 12%;padding-left: 50%;
	color:#fff;
}
.border_b3{
	border-bottom: 5px solid red;
	width:50px;
	margin-left: 2%;margin-top: 10px;
}

ul{
	list-style: none;
	margin-top: 15%;
}
li{ 
	width: 40px;height: 40px;
	display: inline-block;
	padding: 20px;margin-right: 30px;
	line-height: 40px;text-align: center;
}
.pro-1{
	border: 1px solid blue;
	border-radius: 50%;
	box-shadow: 0px 0px 10px 5px blue;
}
.pro-2{
	border: 1px solid purple;
	border-radius: 50%;
	box-shadow: 0px 0px 10px 5px purple;
}
.pro-3{
	border: 1px solid red;
	border-radius: 50%;
	box-shadow: 0px 0px 10px 5px red;
}
.pro-4{
	border: 1px solid red;
	border-radius: 50%;
	box-shadow: 0px 0px 10px 5px red;
}
.pro-5{
	border: 1px solid green;
	border-radius: 50%;
	box-shadow: 0px 0px 10px 5px green;
}
.sr-3_img{
	width: 500px;height: 500px;
	position: absolute;
	background: url(../img/sc3.png) no-repeat;background-size: contain;
	left: 5%;top: 10%;
}


.sr-4{
	background:#fff ;
}

.sr_container-4{
	text-align: center;
	padding-top: 5%;
	color:#000;
}

.border_b4{
	border-bottom: 5px solid red;
	width:50px;
	margin-left: 48%;margin-top: 10px;
}
.sr-4_tu{
	text-align: center;margin-top: 15%;
}
.sr-5{
	position: relative;          
}

.sr-5_img{
	width:200px;height:200px;
	position: absolute;
	top: 20%;left: 40%;
	background:url(../img/sc5-1.png) ;
}
.sr-5_bg{
	width: 100%;height:640px ;
	position: absolute;
	background:url(../img/sc5.jpg);
	background-size: cover;
}
.sr_container-5{
	color: #fff;
	text-align: center;
	padding-top: 30%;
}
.border_b5{
	border-bottom: 5px solid #fff;
	width:50px;
	margin-left: 48%;margin-top: 10px;
}
.sr-6{
	height: 200px;
	position: relative;
}
.button{
	position: absolute;
	width: 200px;height: 40px;
	left: 41%;top: 40%;
	}
.button:hover{
	cursor: pointer;
	color: red;
}
.footer{
	width: 100%;
	height: 50px;
	background:rgba(0,0,0,.7);
	color: #fff;
	text-align: center;
}

.footer_warp p{
	margin:0 auto;
	padding:0px;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.outline{
	font:right;
}

/*大纲模式*/
.outline{
	position: fixed;
	padding: 5px 10px;
	right:0;
	bottom:120px;
	z-index: 3;
	background-color: #fff;
	box-shadow: 0px 4px 12px 0px rgba(7,17,27,0.1);
}

.outline_item{
	display: block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    padding: 5px 0;
    background: rgb(255,255,255);
    margin: 5px 0px 0px;
    border-top: 1px solid #eee;
    text-align: center;
    color: #93999f;
}
.outline_item:first-child{
    border:none;
}
.outline_item:hover,
.outline_item_status_active{
    color: #f00;
}


